//
//  Secrets.swift
//  SoundcloudTestApp
//
//  Created by Timothy Clem on 3/21/16.
//  Copyright © 2016 Flatiron School. All rights reserved.
//

import Foundation

let SoundcloudClientID = ""
let SoundcloudClientSecret = ""

let SoundcloudUsername = ""
let SoundcloudPassword = ""
